* {
    font-family: 'New Rocker', cursive;
    font-family: 'Poppins', sans-serif;
}

.ms-5{
    margin-left: 10rem!important;
}

a,
a:hover {
    text-decoration: none;
}


/*------------- MEDIA max-width 767px ------------*/

@media (max-width:767px) {

    /*----------------- NAV ---------------------*/
    nav {
        position: sticky!important;
        top: 0px!important;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        padding: 2px 10px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        background: #c51c1c;
    }

    nav a {
        color: #fff;
    }

    nav ul li a {
        opacity: 0.5;
    }

    nav ul li a:hover {
        opacity: 1;
    }

    ul {
        margin: 0px;
        margin-bottom: 0px;
    }

    .logo a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .logo a:hover {
        color: #fff;
    }

    .logo img {
        width: 50px;
        margin-right: 5px;
    }

    .lista {
        display: flex;
        align-self: center;
        align-items: center;
        list-style: none;
    }

    .lista li {
        padding: 10px 5px;
        list-style: none;
        font-size: 15px;
    }

    .lista li a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }
    

    /*------------ BODY -----------------------*/
    .titulo-seccion{
        background-color: #9a1a1a;
        color: #fff;
    }

    .contenido{
        flex-direction: column;
    }

    .articulos{
        flex-direction: column;
    }

   
    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        color: #9a1a1a;
        margin-top: 30px;
    }

    .btn-primary{
        background-color: #f14242;
        border-color: #f14242;
    }

    .btn-primary:hover{
        background-color: #de2424;
        border-color: #de2424;
    }

    .btn-primary:active{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }

    .btn-primary:focus{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }

    /*--------------PAGE CONSULTAS ------------------*/

    .contenedor{
        flex-direction: column;
    }

    iframe{
        width: 350px;
        height: 300px;
    }

    form{
        width: 100%!important;
    }

    
    /*------------------ CARRITO -----------------*/

    .carrito{
        min-height: 40vh;
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
    }
    
    .table__productos{
        display: flex;
        flex-direction: column;
        height: 8rem;
    }
    
    .table__productos > img{
        width: 3rem;
        object-fit: contain;
        border-radius: 6px;
        margin-right: 5px;
    }
    
    .table__cantidad > input{
        width: 40px;
        border: none;
        outline: 0;
        font-size: 16px;
        font-weight: 700;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    /*----------FOOTER ---------------*/
    footer {
        margin-top: 40px;
        background-color: rgb(197, 28, 28);
    }
    
    .footerContainer {
        padding: 70px 30px 20px;
    }
    
    .redesSociales {
        display: flex;
        justify-content: center;
    }
    
    .redesSociales a {
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    
    .redesSociales a i {
        font-size: 32px;
        color: rgb(197, 28, 28);
        opacity: 0, 9;
    }
    
    /*----------------- redesSociales hover -----------------*/
    
    .redesSociales a:hover {
        background-color: rgb(197, 28, 28);
        transition: 0.5s;
    }
    
    .redesSociales a:hover i {
        color: white;
        transition: 0.5s;
    }
    
    /*----------------- FOOTER NAV -----------------*/
    
    .footerNav {
        margin: 30px 0px;
    }
    
    .footerNav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
    }
    
    .footerNav ul li a {
        font-family: 'New Rocker', cursive;
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 20px;
        opacity: 0.5;
        transition: 0.5s;
    }
    
    .footerNav ul li a:hover {
        opacity: 1;
    }
    
    /*----------------- FOOTER BOTTOM -----------------*/
    
    .footerBottom {
        background-color: rgb(197, 28, 28);
        padding: 20px;
        text-align: center;
    }
    
    .footerBottom p {
        font-family: 'New Rocker', cursive;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    
    .designer {
        font-family: 'New Rocker', cursive;
        font-family: 'Poppins', sans-serif;
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }

}

/*---------------- MEDIA 768px ---------------*/

@media(min-width:768px) and (max-width:1199px) {
    nav {
        position: sticky!important;
        top: 0px!important;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        padding: 5px 20px;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        background: #c51c1c;
    }

    nav a {
        color: #fff;
    }

    nav ul li a {
        opacity: 0.5;
    }

    nav ul li a:hover {
        opacity: 1;
    }

    ul {
        margin: 0px;
        margin-bottom: 0px;
    }

    .logo a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .logo a:hover {
        color: #fff;
    }

    .logo img {
        width: 100px;
        margin-right: 10px;
    }


    .lista {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .lista li {
        padding: 20px 15px;
        list-style: none;
        font-size: 20px;
    }

    .lista li a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    /* ---------- BODY --------------*/

    .titulo-seccion{
        background-color: #9a1a1a;
        color: #fff;
    }

    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
        color: #9a1a1a;
        margin-top: 40px;
    }

    .btn-primary{
        background-color: #f14242;
        border-color: #f14242;
    }

    .btn-primary:hover{
        background-color: #de2424;
        border-color: #de2424;
    }

    .btn-primary:active{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }

    .btn-primary:focus{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }
    /*------------CARRITO -------------------*/

    .carrito{
        min-height: 70vh;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }
    
    .table__productos{
        display: flex;
    }
    
    .table__productos > img{
        width: 9rem;
        object-fit: contain;
        border-radius: 6px;
        margin-right: 20px;
    }
    
    .table__cantidad > input{
        width: 40px;
        border: none;
        outline: 0;
        font-size: 16px;
        font-weight: 700;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    /*---------PAGE CONSULTAS -----------*/
    .contenedor{
        flex-direction: column;
    }

    iframe{
        width: 500px;
        height: 200px;
    }

    .informacion{
        text-align: center;
    }

    form{
        width: 100%!important;
    }

}

/*-------- MEDIA 1200px-----------*/

@media(min-width:1200px) {
    nav {
        position: sticky!important;
        top: 0px!important;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        padding: 5px 70px;
        align-items: center;
        justify-content: space-between;
        background: #c51c1c;
        
    }

    nav a {
        color: #fff;
    }

    nav ul li a {
        opacity: 0.5;
    }

    nav ul li a:hover {
        opacity: 1;
    }

    .logo {
        flex: 1;
    }

    .logo a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 40px;
    }

    .logo a:hover {
        color: #fff;
    }

    .logo img {
        width: 150px;
        margin-right: 10px;
    }

    ul {
        margin: 0px;
        margin-bottom: 0px;
    }

    .lista {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .lista li {
        padding: 20px 15px;
        margin-right: 20px;
        list-style: none;
        font-size: 30px;
    }

    .lista li a {
        font-family: 'New Rocker', cursive;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    /* ---------------- BODY ------------------- */

    .titulo-seccion{
        background-color: #9a1a1a;
        color: #fff;
    }

    h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
        color: #9a1a1a;
        margin-top: 60px;
    }

    .btn-primary{
        background-color: #f14242;
        border-color: #f14242;
    }

    .btn-primary:hover{
        background-color: #de2424;
        border-color: #de2424;
    }

    .btn-primary:active{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }

    .btn-primary:focus{
        background-color: #c51c1c;
        border-color: #c51c1c;
    }
/*------------------------- CARRITO --------------------------------------*/
    .carrito{
        min-height: 70vh;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }
    
    .table__productos{
        display: flex;
    }
    
    .table__productos > img{
        width: 9rem;
        object-fit: contain;
        border-radius: 6px;
        margin-right: 20px;
    }
    
    .table__cantidad > input{
        width: 40px;
        border: none;
        outline: 0;
        font-size: 16px;
        font-weight: 700;
        margin-right: 30px;
        margin-bottom: 20px;
    }

}

/*----------------- PAGE CONTACTO -------------------------*/

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-info{
    margin-top: 30px;
}

.mapa{
    margin-top: 40px;
}

.contenedor p{
    font-weight: 200px;
}

form{
    width: 1000px;
    margin: auto;
    background: rgba(0,0,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #c51c1c;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}


/*----------------- PAGE RESEÑAS (SECTION) ------------------*/

h1{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: #9a1a1a;
    margin-top: 60px;
}

.subtitulo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #9a1a1a;
}

.titulo-card{
    color: #c51c1c;
    font-weight: 800;
}

.contenedor-resenias{
    width: 100%;
}

.contenedor-resenias .row{
    width: 80%;
    margin:auto;
}

.contenedor .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.contenido .card-blog{
    flex:1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

.contenido .card-blog img{
    width: 100%;
    height: auto;
}

.contenido .card-blog h4{
    color: #450a0a;
    margin-top:10px;
    font-size: 18px;
}

.contenido .card-blog{
    font-size: 15px;
    color:#801c1c;
    line-height: 1.5;
    padding:10px;
}


/*----------------- FOOTER ----------------- */

footer {
    margin-top: 40px;
    background-color: rgb(197, 28, 28);
}

.footerContainer {
    padding: 70px 30px 20px;
}

.redesSociales {
    display: flex;
    justify-content: center;
}

.redesSociales a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.redesSociales a i {
    font-size: 32px;
    color: rgb(197, 28, 28);
    opacity: 0, 9;
}

/*----------------- redesSociales hover -----------------*/

.redesSociales a:hover {
    background-color: rgb(197, 28, 28);
    transition: 0.5s;
}

.redesSociales a:hover i {
    color: white;
    transition: 0.5s;
}

/*----------------- FOOTER NAV -----------------*/

.footerNav {
    margin: 30px 0px;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    font-family: 'New Rocker', cursive;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

/*----------------- FOOTER BOTTOM -----------------*/

.footerBottom {
    background-color: rgb(197, 28, 28);
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    font-family: 'New Rocker', cursive;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.designer {
    font-family: 'New Rocker', cursive;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*-------------------- CARRITO ----------------------------*/

